footer {
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    align-content: center;
	justify-content: center;
	background-color: #7392B7;
	color: #000;
	display: flex;
	width: 100%;
	left: 0;
	bottom: 0;
	font-family: 'Bebas Neue', cursive;
}

.navigation-footer {
	background: #7392B7;
	padding: 40px;
}

.navigation-footer a {
	color: #fff
}

.navigation-footer a:hover {
	color: #F08700
}

.footer-icon {
	padding: 0 10px;
}

.footer-brand {
	font-size: 30px;
}

.copyright-container {
	display: flex;
	width: 100%;
	left: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	background-color: #878E88;
	padding-top: 20px;
	color: #fff;
}

.copyright-container > p > span > a {
	color: #fff
}

.copyright-container > p > span > a:hover {
	color: #EE4266
}

@media screen and (max-width: 415px) {
	.copyright-container > p{
		font-size: 9px;
	}
}
