.product-card {
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center top; 
    background-size: auto 50%;
    position: relative;
}

.product-grid-point {
    padding: 20%;
}

.product-grid-point > img {
    width: auto;
}