.reviews-container {
	display: block;
	padding: 0px 10%;
	background-color: #262626;
	color: #fff;
}

.fa-star {
	color: goldenrod;
}

.review {
	flex-direction: row;
	display: flex;
	width: 100%;
	padding: 1.7rem 0;
}

.arrow-down {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #262626;
	left: 47.5%;
}

.avi {
	position: static;
	flex: 1;
	display: flexbox;
	text-align: center;
	justify-content: center;
	align-self: flex-start;
	padding-right: 5px;
}

.description {
	flex: 9;
	display: flex;
	flex-direction: column;
}

.name-review {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
}

.des-text {
	flex: 1;
	display: flex;
}

@media screen and (max-width: 500px) {
	.description {
		font-size: .8rem;
	}
}

.review-link {
	color: white,
}
