header {
  padding: 10% 15%;

}

article > p {
  padding: 2% 1%;
  text-align: center;
}

section {
  padding: 50px 0
}

.categories {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

a {
  color: #7392B7;
}

a:hover {
  text-decoration: none;
  color: #F08700;
}

