header {
  padding: 10% 15%;
}

article > p {
  padding: 2% 1%;
  text-align: center;
}

section {
  padding: 50px 0
}

.categories {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.section-heading {
  text-align: center;
  color: #fff;
  position: relative;
}

.section-bg {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #000;
  height: 50vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 20px;
}

.section-bg:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}

a {
  color: #7392B7;
}

a:hover {
  text-decoration: none;
  color: #F08700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', cursive;
}

.summary {
  line-height: 2;
}

.heading-font {
  font-family: 'Bebas Neue', cursive;
}

.quote {
  border: 5px solid #000;
  padding: 20px 30px;
}

.product-image {
  width: auto;
  height: 500px;
}

.product-info {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  line-height: 2;
  flex-direction: column;
  padding-top: 20px;
}

.product-info > * {
  padding-bottom: 20px;
}

.product-div {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.preview-image {
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center center;
}

.preview-image-active {
  box-shadow: 0 0 10px #F08700;
  border: none;
}

.preview-image:hover {
  box-shadow: 0 0 10px #F08700;
  border: none
}

.product-img {
  text-align: center;
  width: auto;
  height: 400px;
}

.product-img-div {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  text-align: center;
}

.tab {
  color: #F08700;
}

.location {
  height: auto;
  width: 100%;
}

.location-info > * {
  padding: 30px
}

.social-media {
  font-size: 30px;
  padding-right: 10px;
  color: #7392B7
}

.social-media:hover {
  color: #F08700
}

.nav-brand {
  font-size: 30px;
}

.banner-heading {
  text-align: start;
  font-size: 75px;
  color: #fff;
  position: relative;
}

.banner-bg {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #000;
  height: 92vh;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  padding-bottom: 20px;
}

.banner-bg:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}

.banner-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.newsletter-form {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 15%;
  margin-left: 15%;
}

.quote-text {
  text-align: center;
}

.service-img {
  text-align: center;
  padding-bottom: 10px;
}

.light-banner {
  width: 100%;
  height: 40px;
  background-color: #78C0E0;
  text-align: center;
}

.light-banner > p {
  font-size: 13px;
  padding: 10px 0;
  color: #fff
}